@import './../utility/scss/_commons.scss';

#zenzero {
    .zenzero-container {
        width: 100%;
        height: 100%;
        padding: 0px;
        margin: 0px;
    }
    .zenzero-body {
        margin: 20px;
    }
}