@import './../../utility/scss/commons';

.zenzero-restaurant-grid {
    .row {
        .badge {
            margin-right: 10px;
        }
    }
    .zenzero-grid {
        margin-top: 20px;
        .zenzero-message {
            font-size: 22px;
            font-style: italic;
        }
    }
    .zenzero-restaurant-card {
        cursor: pointer;
        margin-bottom: 20px;
        .card-img-top {
            height: 200px;
        }
        .card-title {
            color: $theme-dark;
            font-weight: bolder;
        }
        .card-text {
            color: $theme-mid-dark;
            font-style: italic;
        }
        .zenzero-add-restaurant {
            background: $theme-light;
            color: $theme-mid-dark;
            .badge {
                cursor: pointer;
            }
        }
        .zenzero-restaurant-address {
            font-size: 12px;
        }
    }
}