@import './../../../utility/scss/commons';

.zenzero-restaurant-events {
    border-top: 0.5px solid $theme-dark;
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    .badge {
        padding: 5px;
        margin-bottom: 10px;
        cursor: pointer;
    }
    .zenzero-restaurant-event {
        padding-top: 5px;
        padding-bottom: 5px;
        cursor: pointer;
    }
    .zenzero-event-modal {
        background-color: #000;
        i {
            &.fas{
                cursor: pointer;
            }
            &.zenzero-highlight {
                color: $theme-dark;
            }
        }
        .modal {
            display: initial;
        }
        .modal-content {
            color: $modal-text;
        }
        .modal-body {
            color: $theme-mid-dark;
            font-size: 18px;
            font-weight: bold;
        }
        .zenzero-close-modal {
            float: right;
            font-size: 26px;
            cursor: pointer;
        }
    }
}