$theme-mid: #F7EF6A;
$theme-mid-dark: #93C178;
$theme-dark: #465C8B;
$theme-light: #DFDCE3;

$header-background: $theme-mid-dark;
$input-text-background: $theme-dark;
$input-text: $theme-light;
$button-background: $theme-light;
$button-text: $theme-dark;
$popup-background: $theme-dark;
$popup-text: $theme-light;
$divider-background: $theme-mid;

$modal-background: $theme-mid-dark;
$modal-text: $theme-dark;

