$theme-mid: #F7EF6A;
$theme-mid-dark: #93C178;
$theme-dark: #465C8B;
$theme-light: #DFDCE3;

$header-background: $theme-mid-dark;
$input-text-background: $theme-dark;
$input-text-color: $theme-light;
$button-background-color: $theme-light;
$button-text-color: $theme-dark;
