@import './../../../utility/scss/commons';

.zenzero-restaurant-offers {
    border-top: 0.5px solid $theme-dark;
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    .badge {
        padding: 5px;
        margin-bottom: 10px;
        cursor: pointer;
    }
    .zenzero-restaurant-offer {
        padding-top: 5px;
        padding-bottom: 5px;
        cursor: pointer;
    }
}