@import './../../utility/scss/commons';

.zenzero-account {
    .zenzero-account-details {
        
        ul {
            margin-top: 10px;
            li {
                padding: 20px;
                margin-top: 10px;
                .badge {
                    cursor: pointer;
                }
            }
        }
    }
    .zenzero-account-switch {
        margin-top: 20px;
        h5 span {
            padding: 10px;
            cursor: pointer;
        }
    }
}